<h1>Patient Grid</h1>

<table>
	<tr>
		<td></td>
    	<% @needs.each do |f| %>
      	<td><%= f.name %></td>
    	<% end %>
  	</tr>
	<% @patients.each do |patient| %>
	<tr>
		<td>
			<%= patient.name %>
		</td>
		<% @needs.each do |need| %>
        	<td>
				<%= patient.needs.member?(need) ? 'true' : '' %>
			</td>
		<% end %>
	</tr>
	<% end %>
</table>